@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
body {
  font-size: 16px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  text-align: center;
}

header, main, footer {
    margin: 1em;
    padding: .5em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

h2 {
    color: rgb(88, 88, 227);
}

section {
    margin: 1em;
    padding: .5em;
    background-color: rgb(182, 182, 233);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    max-width: 250px;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}