@media only screen and (min-width: 65rem) {

    /*   Header   */
    h1 {
        font-size: 40px;
    }

    nav {
        background-color: black;
        float: none;
        text-align: left;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .5rem 1rem;
    }

    #currentDate {
        text-align: center;
    }

    /*   Index/Home   */
    #home-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 325px 400px 1fr 200px;
    }

    .hero-div {
        width: 500px;
        grid-column: 1/ 5;
        grid-row: 1/ 2;
    }

    #event {
        grid-column: 1/ 3;
        grid-row: 2/ 3;
    }

    #weather {
        grid-column: 3/ 5;
        grid-row: 2/ 3;
    }

    #news {
        grid-column: 2/ 5;
        grid-row: 3/ 4;
    }

    #spotlights {
        grid-column: 1/ 2;
        grid-row: 3/ 4;
    }

    #join {
        grid-column: 1/ 5;
        grid-row: 4/ 5;
    }

    /*   Footer   */
    #chamber-info {
        text-align: left;
        display: flex;
        justify-content: center;
    }

    #my-info {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    /*   Discover   */
    #discover-content {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    #disc-img-5 {
        grid-column: 2/ 3;
        grid-row: 4/ 5;
        align-content: center;
    }

    /*   Join   */
    #member-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #np-member {
        grid-column: 1/ 2;
    }

    #np-benefits {
        grid-column: 2/ 3;
    }
}