/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif, Tahoma, sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

/*   Header   */
header {
    margin: 1em;
    padding: .5em;
}

#heading {
    background-color: rgb(217, 18, 18);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: white;
    font-size: 20px;
}

h2, h3 {
    font-family: 'Heebo', Verdana, sans-serif;
    color: rgb(217, 18, 18);
}

#logo-head {
    padding: .5em;
}

#fb-logo {
    padding: .5em;
}

#twitter-logo {
    padding: .5em;
    width: 60px;
}

/*   Navigation   */
nav {
    background-color: black;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(137, 135, 135);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: rgb(184, 183, 183);
    border-top: 1px solid rgba(171, 165, 165, 0.5);
}

nav ul li.active a {
    background-color: rgba(167, 167, 167, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(130, 130, 130, 0.3);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#currentDate {
    background-color: rgb(202, 201, 201);
    padding: 1em;
    margin-top: -.1em;
}

#chamberMeeting {
    text-align: center;
    background-color: #e0e0e0;
    padding: .5em;
}

/*   Main   */

main {
    margin: 1em;
    padding: .5em;
}

/*   Index/Home   */
.hero-div {
    margin: 0 auto;
    width: 400px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#hero-img {
    margin: 0 auto;
    width: 400px;
}

#hero-title {
    position: absolute;
    top: -10px;
    left: 10px;
    color: black;
    font-size: 1.75em;
}

#hero-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: .5em;
    background-color: rgb(217, 18, 18);
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  
picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

figure img[data-src] {
    filter: blur(0.2em);
  }
  
figure img {
    filter: blur(0em);
    transition: filter 0.5s;
  }

figure {
    text-align: center;
    padding: .5em;
    margin: 1em;
}

figcaption {
    text-align: center;
}

button a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

p {
    padding: .5em;
}

#event {
    text-align: center;
    background-color: black;
    color: white;
    padding: .5em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#weather {
    text-align: center;
    background-color: black;
    padding: .5em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
}

#news {
    text-align: center;
    background-color: black;
    color: white;
    padding: .5em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#spotlights {
    text-align: center;
    background-color: black;
    color: white;
    padding: .5em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#join {
    text-align: center;
    background-color: black;
    color: white;
    padding: .5em;
    padding-top: 1.5em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#join-button  {
    padding: .5em;
    background-color: rgb(217, 18, 18);
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/*   Discover   */
#statistics {
    text-align: center;
    background-color: black;
    color: white;
    padding: .5em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#last-visited {
    text-align: center;
    background-color: black;
    color: white;
    padding: .5em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*   Join   */
form fieldset {
    margin: 1em 0;
    border-radius: 20px;
    padding: .5em 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}

legend {
    margin: 1em;
    color: rgb(217, 18, 18);
    font-size: 1.25em;
}

form label.member-info {
    display: block;
}

form label.member-info input:required {
    border-left: red solid 6px;
}

form label.member-info input:required:valid {
    border-left: green solid 6px;
}

label.member-info input {
    display: block;
    margin-bottom: 1em;
    padding: .5em;
    font-size: 1.25em;
    width: 100%;
    max-width: 20em;
    border-radius: 10px;
}

textarea {
    display: block;
    margin-bottom: 1em;
    padding: .5em;
    font-size: 1.25em;
    width: 100%;
    max-width: 20em;
    border-radius: 10px;
}

#position-pattern {
    margin-top: -1em;
    margin-left: -.5em;
}

#submitBtn {
    background-color: rgb(217, 18, 18);
    color: white;
    padding: 1em;
    width: 100%;
    max-width: 20em;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
}

/*   Directory   */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.list {
	display: flex;
	flex-direction: column;
}

.grid section {
	flex-direction: column;
	text-align: center;
    background-color: black;
    color: white;
    padding: .5em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid section img {
    padding-top: 1em;
}

.list section {
    text-align: center;
    background-color: black;
    color: white;
    padding: .5em;
    margin: .5em;
}

.list section:nth-child(even) {
    background-color: #222222;
}

.list section img {
    display: none;
}

.list section h2 {
    padding: .5em;
}

.list section p {
    padding: .5em;
}

#grid {
    padding: 1em;
    margin: 1em;
    background-color: rgb(217, 18, 18);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
}

#list {
    padding: 1em;
    margin: 1em;
    background-color: rgb(217, 18, 18);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
}

/*   Contact   */
#visit-info {
    text-align: center;
    background-color: black;
    color: white;
    padding: .5em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#contact-info {
    text-align: center;
    background-color: black;
    color: white;
    padding: .5em;
    margin: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form label.question-info {
    display: block;
}

form label.question-info input:required {
    border-left: red solid 6px;
}

form label.question-info input:required:valid {
    border-left: green solid 6px;
}

label.question-info input {
    display: block;
    margin-bottom: 1em;
    padding: .5em;
    font-size: 1.25em;
    width: 100%;
    max-width: 20em;
    border-radius: 10px;
}

.are-you-member {
    display: block;
    padding: .5em;
}

/*   Footer   */
footer {
    margin: 1em;
    padding: .5em;
    background-color: #a9a9a9;
}

#chamber-info {
    text-align: center;
}

#my-info {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(217, 18, 18);
}

footer a:hover {
    text-decoration: underline;
}