@media only screen and (min-width: 35em) {

    h1 {
        font-size: 30px;
    }

    figure:hover {
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #fb-logo {
        justify-content: flex-end;
    }
    
    #twitter-logo {
        justify-content: flex-end;
        width: 60px;
    }

    #chamber-info {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #home-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .hero-div {
        width: 500px;
        grid-column: 1/ 5;
    }

    #event {
        grid-column: 1/ 4;
    }

    #weather {
        grid-column: 4/ 5;
    }

    #news {
        grid-column: 1/ 5;
    }

    #spotlights {
        grid-column: 1/ 5;
    }

    #join {
        grid-column: 1/ 5;
    }
    
    #hero-img {
        width: 500px;
    }
    
    #hero-title {
        top: -10px;
        left: 10px;
    }
    
    #hero-button {
        bottom: 10px;
        right: 10px;
    }

    #phone-num {
        text-align: right;
    }

    #location {
        text-align: right;
    }

    #my-info {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    #discover-content {
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }

    #disc-img-1 {
        grid-column: 1/ 2;
        grid-row: 1/ 2;
        align-content: center;
    }

    #disc-img-2 {
        grid-column: 1/ 2;
        grid-row: 2/ 3;
        align-content: center;
    }

    #disc-img-3 {
        grid-column: 1/ 2;
        grid-row: 3/ 4;
        align-content: center;
    }
    
    #disc-img-4 {
        grid-column: 1/ 2;
        grid-row: 4/ 5;
        align-content: center;
    }

    #disc-img-5 {
        grid-column: 1/ 2;
        grid-row: 5/ 6;
        align-content: center;
    }

    #statistics {
        grid-column: 2/ 3;
        grid-row: 1/ 3;
        align-content: center;
    }

    #last-visited {
        grid-column: 2/ 3;
        grid-row: 3/ 4;
    }
    
    .list section {
	    display: flex;
	    align-items: center;
        flex-direction: row;
	    justify-content: left;
    }
}