/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 16px;
    font-family: Helvetica, sans-serif, Tahoma, sans-serif;
    max-width: 900px;
    margin: 0 auto;
}

header {
    margin: 1em;
    padding: .5em;
}

#heading {
    background-color: rgb(217, 18, 18);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: white;
    font-size: 20px;
}

h2, h3 {
    font-family: 'Heebo', Verdana, sans-serif;
    color: rgb(217, 18, 18);
}

#logo-head {
    padding: .5em;
}

#fb-logo {
    padding: .5em;
}

#twitter-logo {
    padding: .5em;
    width: 60px;
}

nav {
    background-color: black;
    float: right;
    text-align: right;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(137, 135, 135);
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: rgb(184, 183, 183);
    border-top: 1px solid rgba(171, 165, 165, 0.5);
}

nav ul li.active a {
    background-color: rgba(167, 167, 167, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(130, 130, 130, 0.3);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

#currentDate {
    background-color: rgb(202, 201, 201);
    padding: 1em;
    margin-top: -.1em;
}

#chamberMeeting {
    text-align: center;
    background-color: #e0e0e0;
    padding: .5em;
}

main {
    margin: 1em;
    padding: .5em;
}

.hero-div {
    margin: 0 auto;
    width: 400px;
    position: relative;
}

#hero-img {
    margin: 0 auto;
    width: 400px;
}

#hero-title {
    position: absolute;
    top: -10px;
    left: 10px;
    color: black;
    font-size: 1.75em;
}

#hero-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: .5em;
    background-color: rgb(217, 18, 18);
    border-radius: 20px;
}

button a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

p {
    padding: .5em;
}

footer {
    margin: 1em;
    padding: .5em;
    background-color: #a9a9a9;
    color: rgb(217, 18, 18);
}

#chamber-info {
    text-align: center;
}

#my-info {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(217, 18, 18);
}

footer a:hover {
    text-decoration: underline;
}