body {
    font-family: "Ubuntu", sans-serif;
}

table {
    margin: auto;
    margin-top: 1em;
    border: thin solid rgb(197, 197, 197);
    border-collapse: collapse;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

tr:first-child th {
    background-color: rgb(83, 158, 232);
    color: black;
}

th {
    background-color: rgb(51, 104, 164);
    color: white;
}

th, td {
    padding: .5em;
    margin: 1em;
    text-align: center;
    border: 1px solid rgb(197, 197, 197);
}

tbody tr:nth-child(even) {
    background-color:rgb(202, 219, 239);
}

tr:nth-child(4) td:nth-child(3) {
    background-color: rgb(51, 104, 164);
    color: white;
}

tr:nth-child(5) td:first-child {
    font-style: italic;
}

caption {
    padding: .5em;
    margin: 1em;
    caption-side: bottom;
    color: rgb(51, 104, 164);
}