@media only screen and (min-width: 45em) {
    /*--------------------------Header--------------------------------*/
    h1 {
        font-size: 36px;
    }

    /*------------------------Navigation-------------------------------*/
    nav {
        background-color: #3cb371;
        float: none;
        text-align: center;
    }

    nav button {
        display: none;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .5rem 1rem;
    }

    nav ul li.active a {
        background-color: white;
        color: #3cb371;
        border-radius: 10px 10px 0 0;
    }
    
    nav ul li.active a:hover {
        background-color: #90ee90;
        color: white;
    }
    /*---------------------------Home------------------------------------*/
    #home-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #home-img {
        grid-column: 1/ 3;
    }

    #home-reservation {
        grid-column: 1/ 2;
    }

    #home-contact {
        grid-column: 2/ 3;
    }

    #home-weather {
        grid-column: 1/ 3;
    }

    #temple-summary {
        grid-column: 1/ 3;
    }

    #home-reservation {
        padding-top: 4em;
    }
    
    #home-reservation a {
        padding: 1em;
        font-size: 1.15em;
        margin: 1.5em;
    }

    #home-reservation p {
        margin-top: 4em;
    }
    
    #temp-sum-home {
        float: left;
    }

    /*-----------------------Footer----------------------------------*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px 1fr 100px;
    }

    #logo-footer {
        grid-column: 1/ 2;
        grid-row: 1/ 2;
        margin: 0 auto;
    }

    #contact-info {
        grid-column: 1/ 2;
        grid-row: 2/ 3;
    }

    footer form {
        grid-column: 2/ 3;
        grid-row: 1/ 4;
    }

    #footer-links {
        grid-column: 1/ 2;
        grid-row: 3/ 4;
    }

    #updated {
        grid-column: 1/ 3;
        grid-row: 4/ 5;
        padding-top: 1.5em;
    }
    
    footer legend {
        font-size: 1em;
    }

    footer form label.question-info {
        font-size: .75em;
    }
    
    textarea {
        font-size: 1em;
    }
    
    #submitBtn {
        padding: .75em;
        font-size: 1em;
    }
}